/*CHANGES NAVBAR COLORS*/
.navbar-inverse {
    background-image: -webkit-linear-gradient(#2b4a33, #35d46a 60%, #033769);
    background-image: -o-linear-gradient(#4dce2f, #36c32a 60%, #3d6d2f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a9b04), color-stop(60%, #438704), to(#106903));
    background-image: linear-gradient(#2d9b04, #048713 60%, #036941);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #022241;
}

.navbar-inverse .badge {
    background-color: #fff;
    color: #187303;
}

/*Changes NAVBAR BRAND COLOR*/
.navbar-inverse .navbar-brand {
    color: white;
}

/*Changes NAVBAR LINK COLOR*/
.navbar-inverse .navbar-nav > li > a {
     color: white;
}

/*Changes JUMBOTRON COLORS*/
.jumbotron {
    color: inherit;
    background-color: #fdc523;
}

/*Changes background color*/
body {
    color: #333;
    background-color: white;
}

/*Changes primary panel color*/
.panel-primary {
    border-color: green;
}

.panel-custom>.panel-heading-custom {
    background-image: none;
    color: #fff;
    background-color: forestgreen;
    border-color: #2b4a33;
}
/*ID allows panel headings to be changed*/
#mypanelId {
    background-image: none;
    color: #fff;
    background-color: forestgreen;
    border-color: #2b4a33;
}

/*Creates a scrollbar if lesson body overflows*/
#lessonID {
    width: 150px;
    height: 150px;
    overflow: auto;
}




/*Buttons*/
/*.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }*/
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
        color: yellow;
    }

    .btn-primary:active, .btn-primary.active {
        background: green;
        box-shadow: none;
    }
