
@{
    ViewBag.Title = "InstructorStudentManagementView";
}

<h2>Manage Students</h2>
<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">Students</div>
    <div class="row">
       big list fo students
        <div class="col-sm-3">
            name/number (is email/msg link)
        </div>
        <div class="col-sm-3">
            course and progress (note multiple courses?)
        </div>
        <div class="col-sm-3">
            link to current lesson and put that student at top of list
        </div>
        <div class="col-sm-3">
            current grade/points
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">Add/Drop</div>
    <div class="row">
        <div class="col-sm-3">
            add button
        </div>
        <div class="col-sm-3">
            remove button
        </div>
        <div class="col-sm-3">
            course stats button?
        </div>
    </div>
</div>


