
@{
    ViewBag.Title = "StudentHomepage";
}

<h2>StudentHomepage</h2>

displays student account management, accessable courses, current courses, past courses, and course progress
some of those may be partial views, collapsable/popups
links to student courses pages
uses student homepage model