
@{
    ViewBag.Title = "StudentCourse";
}

<h2>StudentCourse</h2>

displays info, overviews, progress, lessons
links to available lessons
links to course info
links to instructor communication
links to lessons