
@{
    ViewBag.Title = "StudentCourse";
}

<h2>StudentCourse</h2>

<div>displays info, overviews, progress, lessons</div>
<div>
    links back to student homepage
    @Html.ActionLink("Student Homepage View", "StudentHomeView", "Student")
</div>
<div>
    links to instructor communication
    @*@Html.ActionLink("Student Course View", "StudentCourseView", "Student")*@
</div>
<div>
    links to lessons
    @Html.ActionLink("Student Lesson View List", "StudentLessonView", "Student")
</div>
<div>
    IFF a lesson has saved work then link directly to the work page
    @Html.ActionLink("Student Work View", "StudentWorkView", "Student")
</div>