
@{
    ViewBag.Title = "StudentGradeView";
}

<h2>StudentGradeView</h2>

<div>
    this is where the response/grade to the student's final submitted work will be posted
    it may be an automated response of a response entered by the instructor
</div>
<div>
    <!--Parameters: Link Name, View, Controller-->
    <!--links to student courses pages-->
    @* @Html.ActionLink("Student Course View", "StudentCourseView", "Student") *@
    <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></p>
</div>
<div>
    <!--links to student lesson pages-->
    @* @Html.ActionLink("Student Course View", "StudentLessonView", "Student") *@
    <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></p>
</div>