
@{
    ViewBag.Title = "AdminView";
}

<h2>AdminView</h2>

this is going to be a big list of the various tables that exist in the database
may be navigable with a left bar menu that has sections or areas of related tables
there will be many partial views and modal tables