
@{
    ViewBag.Title = "AdminView";
}

<h2>AdminView</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Instructions</div>
    <div class="panel-body">
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
    </div>
</div>

<div class="panel panel-primary">
    <div class="col-sm-3">
            <div class="panel-heading">Tables</div>
            <div class="panel-body">
                <ul>
                    <li>table</li>
                    <li>table</li>
                    <li>table</li>
                    <li>table</li>
                    <li>table</li>
                    <li>table</li>
                    <li>table</li>
                    <li>table</li>
                </ul>
            </div>
        </div>

    <div class="col-sm-9">
        <div class="panel-heading">Rows</div>
        <div class="panel-body">
            <ul>
                <li><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div></li>
                <li><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div></li>
                <li><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div></li>
                <li><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div></li>
                <li><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div><div class="col-sm-2">stuff</div></li>
            </ul>
        </div>
    </div>
</div>