@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Start Page</h1>
    TODO: a short explanation and a bunch of links
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            TODO: welcome and explanation text
        </p>
        
    </div>
    <div class="col-md-4">
       link to student page
       link to instructor page
       link to admin page
    </div>
    <div class="col-md-4">
       links to UAA sites
    </div>
</div>