
@{
    ViewBag.Title = "View";
}

<h2>InstructorCourseEditView</h2>

overall course editing
add lessons, edit lessons, link/order lessons

links back to the course creation page
links to the course lessons