
@{
    ViewBag.Title = "InstructoeLessonEditView";
}

<h2>InstructoeLessonEditView</h2>

instructor sets up the lesson teaching, work, and response pages
maybe choose from templates for positioning?
add/edit text, video, audio, outside links

links a 'next lesson to create' which is just the same page with no data
if linked to another lesson/s can go to those lessons
links to a "view this lesson as a student would"

note: probably needs a way to track which/where the lesson is in the course structure
possibly through a list of current lessons in creation or linked order

note: for coding work have a test area where the instructor can put in code and get responses from the
python interpreter just like the student does