
@{
    ViewBag.Title = "InstructorCourseCreationView";
}

<h2>InstructorCourseCreationView</h2>

page for creating/editing courses
basic instructions
choose a course to edit
create a course button

links to the course overview creator
links to the course to edit

note/idea: only one create/edit track, just populate it with existing 
data if chooing to edit and populate with no data if choosing to create