
@{
    ViewBag.Title = "InstructorCourseManagementView";
}

<h2>InstructorCourseManagementView</h2>

instructors manages individual courses from here, has a status panel/s for some course statistics or info
add/remove students, whole class announcements, activate/deactivate lessons

link to blackboard?
links to each lesson for management/grading
has a modal table of links to the students enrolled in the course