
@{
    ViewBag.Title = "InstructorHomeView";
}

<h2>InstructorHomeView</h2>

<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">My Courses</div>
        <div class="panel-body">
           <ul>
               <li> list of courses that instructor runs</li>
               <li> list of courses that instructor runs</li>
               <li> list of courses that instructor runs</li>
               <li> list of courses that instructor runs</li>
               <li> list of courses that instructor runs</li>
           </ul>
            <div class="panel-footer">
                links to a courses management page
                @Html.ActionLink("Instructor Course Management Module", "InstructorCourseManagementView", "Instructor")
            </div>
        </div>
    </div>
<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">My Students / My Paycheck</div>
    <div class="panel-body">
        <ul>
            <li>list of students that instructor torments</li>
            <li>list of students that instructor torments</li>
            <li>list of students that instructor torments</li>
            <li>list of students that instructor torments</li>
            <li>list of students that instructor torments</li>
            <li>list of students that instructor torments</li>
            <li>list of students that instructor torments</li>
        </ul>
        <div class="panel-footer">
            links to a student management page
            @Html.ActionLink("Instructor Student Management Module", "InstructorStudentManagementView", "Instructor")
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">Stuff (note: come up with a better name)</div>
    <div class="panel-body">
        link to course creation module
        <div class="col-sm-4">
            links to a course/lesson creator module
            @Html.ActionLink("Instructor Creator Module", "InstructorCourseCreationView", "Instructor")
        </div>
        <div class="col-sm-4">link to user profile management page</div>

        <div class="col-sm-4">?link to communications?uaa stuff?</div>
    </div>
</div>

       
