
@{
    ViewBag.Title = "InstructorHomeView";
}

<h2>InstructorHomeView</h2>

instructor starts here and has profile/account management here
choose a course, activate a course, deactivate a course, create a course

links to a course/lesson creator module
links to a courses management page
links to a student management page