
@{
    ViewBag.Title = "InstructorStudentManagementView";
}

<h2>InstructorStudentManagementView</h2>

manage students from here
add/remove from courses
view/jump to ungraded submissions of that student
course overall grade?
student overall course progress?

question: do we want a partial view for a selected student of a whole new page?
this probably depends on how much information we have to display