
@{
    ViewBag.Title = "InstructorLessonManagement";
}

<h2>InstructorLessonManagement</h2>

instructors manage lessons from here
activate/deactivate/edit lesson and content
view/grade student submissions

links to next lesson, previous lesson, course management, students(per submission?)