
@{
    ViewBag.Title = "View";
}

<h2>InstructorCourseEditView</h2>

<div>
    overall course editing
    add lessons, edit lessons, link/order lessons
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Current content</div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-sm-5">
                <div class="panel-heading">
                    course overview/into text
                </div>
                <div class="panel-body">
                    course overview/into text, course overview/into text, course overview/into text,
                    course overview/into text, course overview/into text, course overview/into text, course overview/into text,
                    course overview/into text, course overview/into text, course overview/into text, course overview/into text,
                    course overview/into text, course overview/into text, course overview/into text, course overview/into text,
                </div>
                <div class="panel-footer">
                    edit button
                </div>
            </div>

            <div class="col-sm-7">
                <div class="panel-heading">
                    list of lessons
                </div>
                <div class="panel-body">
                    <ul>
                        <li>lesson</li>
                        <li>lesson</li>
                        <li>lesson</li>
                        <li>lesson</li>
                        <li>lesson</li>
                        <li>lesson</li>
                        <li>lesson</li>
                        <li>lesson</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="col-sm-5">
                        button for changing order
                        button for loading saved lesson
                        @Html.ActionLink("add new lesson button", "InstructorLessonEditView", "Instructor")
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
