@model TeamYesIdentity.Models.InstructorHomeViewModel

@{
    ViewBag.Title = "InstructorHomeView";
}

<h2>InstructorHomeView</h2>

<div class="panel panel-primary">
    <div class="panel-heading">My Courses</div>
        <div class="panel-body">
           <ul>
               @foreach(var course in Model.CourseList){
                   <li>@Html.ActionLink(course.Title, "InstructorCourseManagementView", new { courseID = course.ID })</li>
               }
           </ul>
            <div class="panel-footer">

            </div>
        </div>
    </div>
<div class="panel panel-primary">
    <div class="panel-heading">My Students / My Paycheck</div>
    <div class="panel-body">
        <ul>
            @foreach (var student in Model.StudentList)
            {
                <li>@Html.ActionLink(student.LastName+", "+student.FirstName, "InstructorStudentManagementView", new { studentID = student.ID })</li>
            }
        </ul>
        <div class="panel-footer">

        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Course Creation Module</div>
    <div class="panel-body">
        <div class="col-sm-4">
            @Html.ActionLink("Instructor Creator Module", "InstructorCourseCreationView", "Instructor")
        </div>
        @*<div class="col-sm-4">link to user profile management page</div>

        <div class="col-sm-4">?link to communications?uaa stuff?</div>*@
    </div>
</div>

       
