
@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>

<div class="entry-content">
    <p>Resources to aid in your learning experience</p>
    <h3>Python Cheatsheet</h3>
    <ul>
        <li>
            A condensed sheet of basic python code<br />
            <a href="https://learnxinyminutes.com/docs/python3/" target="_blank">https://learnxinyminutes.com/docs/python3/</a>
        </li>
    </ul>
    <h3>Treehouse</h3>
    <div class="starlist">
        <ul>
            <li>
                Learn to build websites, create iPhone and Android apps, code with Ruby on Rails and PHP, or start a business.<br />
                <a href="http://teamtreehouse.com/" target="_blank">http://teamtreehouse.com/</a>
            </li>
        </ul>
    </div>
    <h3>Python Video Tutorials</h3>
    <div class="starlist">
        <ul>
            <li>
                A playlist of python tutorials<br />
                <a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGAcbMi1sH6oAMk4JHw91mC_" target="_blank">Python Playlist </a>
            </li>
        </ul>
    </div>
    <h3>Code HS</h3>
    <div class="starlist">
        <ul>
            <li>
                CodeHS is a site which will introduce you to programming and computer science principles. It is built for complete beginners.<br />
                <a href="http://codehs.com/" target="_blank">http://codehs.com/</a>
            </li>
        </ul>
    </div>
    <h3>WordPress</h3>
    <div class="starlist">
        <ul>
            <li>
                WordPress Lessons<br />
                <a href="http://codex.wordpress.org/WordPress_Lessons" target="_blank">http://codex.wordpress.org/WordPress_Lessons</a>
            </li>
        </ul>
    </div>
    <h3>CS Bits and Bytes</h3>
    <div class="starlist">
        <ul>
            <li>
                “The NSF CS Bits &amp; Bytes series is aimed at high school teachers and students and emphasizes how computer science permeates and improves our lives and supports progress in many other disciplines.”<br />
                <a href="http://www.nsf.gov/cise/csbytes/" target="_blank">http://www.nsf.gov/cise/csbytes/</a>
            </li>
        </ul>
    </div>
    <h3>BYOB</h3>
    <div class="starlist">
        <ul>
            <li>
                BYOB is an advanced offshoot of SCRATCH<br />
                <a href="http://byob.berkeley.edu/" target="_blank">http://byob.berkeley.edu/</a>
            </li>
        </ul>
    </div>
    <h3>UX Mastery</h3>
    <div class="starlist">
        <ul>
            <li>
                UX Mastery is an online resource for aspiring user experience designers.<br />
                <a href="http://uxmastery.com/resources/tools/" target="_blank">http://uxmastery.com/resources/tools/</a>
            </li>
        </ul>
    </div>
    <h3>Computing Unplugged</h3>
    <div class="starlist">
        <ul>
            <li>
                “Computer science … without a computer”<br />
                <a href="http://csunplugged.org/" target="_blank">http://csunplugged.org/</a>
            </li>
        </ul>
    </div>
    <h3>Hackety Hack!</h3>
    <div class="starlist">
        <ul>
            <li>
                “Hackety Hack will teach you the absolute basics of programming from the ground up. &#8230; With Hackety Hack, you&#8217;ll learn the Ruby programming language.”<br />
                <a href="http://www.hackety.com/" target="_blank" class="broken_link">http://hackety.com/</a>
            </li>
        </ul>
    </div>
    <h3>Code Igniter</h3>
    <div class="starlist">
        <ul>
            <li>
                “CodeIgniter: an open source Web Application Framework that helps you write PHP programs.”<br />
                <a href="http://codeigniter.com/" target="_blank">http://codeigniter.com/</a>
            </li>
        </ul>
    </div>
    <h3>Codecademy</h3>
    <div class="starlist">
        <ul>
            <li>
                “Codecademy is the easiest way to learn how to code. It&#8217;s interactive, fun, and you can do it with your friends.”<br />
                <a href="http://www.codecademy.com" target="_blank">http://www.codecademy.com</a>
            </li>
        </ul>
    </div>
</div>